/* styles.css */

/* 調整 body 的樣式 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.header {
    background-color: #577399;
    height: 50px;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.header .logo a:hover {
    text-decoration: underline;
}

.login-button {
    background-color: white;
    border: null;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px 20px;
    cursor: pointer;
    margin-right: 50px;
    font-size: 14px;
}

/* Container */
.container {
    display: flex;
    flex: 1;
    margin-top: 50px; /* 預留 header 的高度 */
    justify-content: center; /* 水平置中 */
    /* align-items: center; 垂直置中 */
    height: calc(100vh - 50px); /* 減去 header 高度 */
}

/* Content */
.content {
    text-align: center;
}

.content h1 {
    color: #577399;
    font-size: 2em;
    margin-bottom: 20px;
}

.schedule-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* align-items: center; 保持卡片在垂直方向居中 */
}

.schedule-item {
    background-color: #dee7f3;
    border: 1px solid #d1dce8;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.schedule-item .date {
    background-color: #577399;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.schedule-item .teachers p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}
